image:
  repository: 957117875403.dkr.ecr.us-east-1.amazonaws.com/devsecops-app
  tag: "68"
  pullPolicy: Always

imagePullSecrets:
  - name: ecr-secret

replicaCount: 3

service:
  port: 5000

env:
  ENVIRONMENT: prod

livenessProbe:
  httpGet:
    path: /
    port: 5000
  initialDelaySeconds: 10
  periodSeconds: 10

readinessProbe:
  httpGet:
    path: /
    port: 5000
  initialDelaySeconds: 5
  periodSeconds: 5

resources:
  requests:
    cpu: "250m"
    memory: "256Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"
