image:
  repository: 957117875403.dkr.ecr.us-east-1.amazonaws.com/devsecops-app
  tag: "67"
  pullPolicy: Always

imagePullSecrets:
  - name: ecr-secret

replicaCount: 2

service:
  port: 5000

livenessProbe:
  httpGet:
    path: /
    port: 5000
  initialDelaySeconds: 10
  periodSeconds: 10

readinessProbe:
  httpGet:
    path: /
    port: 5000
  initialDelaySeconds: 5
  periodSeconds: 5

env:
  ENVIRONMENT: qa

resources:
  requests:
    cpu: "150m"
    memory: "128Mi"
  limits:
    cpu: "300m"
    memory: "256Mi"
